<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
        <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  [(ngModel)]="loginData.username" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="Password" value="" [(ngModel)]="loginData.password" ></ion-input>
      </ion-item>

  </ion-list>

  <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="login()">Log In</ion-button>
    </div>


</ion-content>
