<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <h1>Barcode Scanner</h1> -->
 
  <!-- <ion-button (click)="scanCode()">
    Scan Code
  </ion-button> -->
  <form #form="ngForm" (ngSubmit)="addToCart(form)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
  <ion-item>
      <ion-label position="stacked">Barcode<ion-text color="danger">*</ion-text></ion-label>
      <ion-button (click)="scanCode()" slot="end">
          Scan Code
        </ion-button>
      <ion-input required type="text" name="barcode" id="barcode" minlength="3" value="{{barcode}}" [(ngModel)]="cartData.barcode" ></ion-input>
  </ion-item>

 </ion-list>
 <div class="ion-padding">
    <ion-button expand="block" type="submit" class="button" [disabled]="form.invalid">add to cart</ion-button>
  </div>
 </form>

  <div *ngIf="cost != 0; else elseBlock">
    <!-- <p>
      Scanned Code Text : <b>{{ scannedData}}</b>
    </p> -->
    ราคารวม : {{ cost}}
    <div *ngFor="let productData of thisProductData">
       
           <ion-item-sliding>
          <ion-item>
            <ion-label>
              รหัสสินค้า : {{ productData["barcode"] }}<br>
              ชื่อสินค้า :  {{ productData["productName"] }}<br>
              จำนวน : {{ productData["productQty"]}}<br>
              ราคา : {{ productData["cost"]}}            
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
              <ion-item-option color="warning"><ion-icon name="create"></ion-icon></ion-item-option>
          </ion-item-options>

          <ion-item-options side="start">
              
              <ion-item-option color="danger" >
                <ion-button fill="clear" color="light"  (click)="confrimDelete(product)">
                   <ion-icon name="trash"></ion-icon>
                  </ion-button>
                    
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>       
  </div>
    <ion-button expand="block" (click)="confirmOrder()">Comfrim Order</ion-button>
  </div>
 
  <ng-template #elseBlock >
    <div class="padding1">
      <p style="text-align: center">No Order</p>
    </div>
  </ng-template>
  <!-- <h1>Enter Value to Create QR code</h1>
  <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Create QR
  </ion-button> -->
</ion-content>