<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
 <!--<ion-card *ngif="{{username}} != null"> 
    Username : {{username}}<br>
    name : {{firstname}} {{lastname}}
  </ion-card> -->
 
  <div *ngIf="username != null; else elseBlock">
  <ion-card>
      <ion-card-header>
          <ion-card-title>
              <ion-icon name="contact"></ion-icon>
               {{username}}
          </ion-card-title>
      </ion-card-header>
      
    <ion-img class="profile" src="{{pic}}"></ion-img><br>
  
    <ion-card-content style="color: black"> 
    Username : {{username}}<br>
    Name : {{firstname}} {{lastname}}<br>
    <!--Balance : 0 Bath-->
    </ion-card-content>
    
  </ion-card>
  </div >

  <ng-template #elseBlock >
    <div class="padding1">
      <ion-button color="danger" expand="block" fill="outline" routerLink="/login" routerDirection="root">
        <ion-icon name="log-in"></ion-icon>
        Please log in
      </ion-button>
      <p style="text-align: center">or</p>
      <ion-button color="success" expand="block" fill="outline" routerLink="/register" routerDirection="root">
        <ion-icon name="add-circle-outline"></ion-icon>
        Register
      </ion-button>
    </div>
  </ng-template>

</ion-content>
