<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <!--<ion-card *ngif="{{username}} != null"> 
    Username : {{username}}<br>
    name : {{firstname}} {{lastname}}
  </ion-card> -->
  <div *ngIf="username != null; else elseBlock">
    Hello<br>
    Username : {{username}}<br>
    name : {{firstname}} {{lastname}}</div>
  <ng-template #elseBlock>please log in</ng-template>
</ion-content>
