<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <!--<ion-card *ngif="{{username}} != null"> 
    Username : {{username}}<br>
    name : {{firstname}} {{lastname}}
  </ion-card> -->
 
  <div *ngIf="username != null; else elseBlock">
  <ion-card>
      <ion-card-header>
          <ion-card-title> Hello {{username}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
    <ion-img src="{{pic}}"></ion-img><br>
    Username : {{username}}<br>
    name : {{firstname}} {{lastname}}
  </ion-card-content>
  </ion-card>
  </div >
  
    <ion-label class="padding">
      <ng-template #elseBlock >please log in</ng-template>
    </ion-label>

</ion-content>
