<ion-header>
  <ion-toolbar>
    <ion-title>face</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="takephoto()">take photo</ion-button>
{{ facedata }}

<div *ngFor="let facedata of facedatas">
  
      
        <ion-label>
          faceId : {{ facedata["faceId"] }}<br>
          gender :  {{ faceAttributes["gender"] }}<br>
          age : {{ faceAttributes["age"] }}<br>
          <ion-img class="profile" src="{{faceImg}}"></ion-img>
            
        </ion-label>
</div>
</ion-content>
