<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="order['status'] == 'pay';">
  <ion-card style="color: black;">
  <ion-card-header color="danger"></ion-card-header>
        <ion-card-header style="color: black;">
          <ion-icon name="list-box"></ion-icon>
          <ion-label> เลขที่รายการ : {{order["orderId"]}} </ion-label><br>
          <ion-label> วันที่ทำรายการ : {{date}} </ion-label><br> 
          <ion-label>เวลา : {{time}}</ion-label><br>
          <ion-label> ร้านค้า : {{order["shop"]}}</ion-label><br>
          <ion-label> จำนวนเงิน : -{{order["amount"]}} บาท</ion-label><br>
        </ion-card-header>
      </ion-card>
    </div>
    <div *ngIf="order['status'] == 'receive';">
      <ion-card style="color: black;">
      <ion-card-header color="success"></ion-card-header>
            <ion-card-header style="color: black;">
              <ion-icon name="list-box"></ion-icon>
              <ion-label> เลขที่รายการ : {{order["orderId"]}} </ion-label><br>
              <ion-label> วันที่ทำรายการ : {{date}} </ion-label><br>
              <ion-label>เวลา : {{time}}</ion-label><br>
              <ion-label> ลูกค้า : {{order["customer"]}}</ion-label><br>
              <ion-label> จำนวนเงิน : +{{order["amount"]}} บาท</ion-label><br>
            </ion-card-header>
          </ion-card>
        </div>
      <ion-card style="color: black;">
      <ion-grid >
        <ion-row >

          <ion-col style="text-align: center">
            <ion-label>รหัสสินค้า</ion-label>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-label>ชื่อสินค้า</ion-label>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-label>จำนวน</ion-label>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-label>ราคา</ion-label>
          </ion-col>
        </ion-row>

        <div *ngFor="let orderDetail of orderDetails">

          <ion-row>
            <ion-col style="text-align: center">
              <ion-label>{{ orderDetail['barcode'] }}</ion-label>
             </ion-col>
            <ion-col style="text-align: center">
              <ion-label>{{ orderDetail['productName'] }}</ion-label>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-label>{{ orderDetail['Qty'] }}</ion-label>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-label>{{ orderDetail['amount'] }}</ion-label>
            </ion-col>
          </ion-row>

        </div>

      </ion-grid>
      </ion-card>
</ion-content>
