<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let order of orders">
    <ion-card>
    <div *ngIf="order['status'] == 'receive';">
        <ion-card-header color="success">
          <ion-label> เลขที่รายการ : {{order["orderId"]}} </ion-label><br>
          <ion-label> วันที่ทำรายการ : {{order["date"]}}</ion-label><br>
          <ion-label> ลูกค้า : {{order["customer"]}}</ion-label><br>
          <ion-label> จำนวนเงิน : {{order["amount"]}} บาท</ion-label><br>
          <ion-label><ion-button size="small" fill="outline" color="light" (click)="historyDetail(order['orderId'],order['status'])">รายละเอียด<ion-icon name="open"></ion-icon></ion-button></ion-label>
        </ion-card-header>
      </div>

        <div *ngIf="order['status'] == 'pay';">
            <ion-card-header color="danger">
              <ion-label> เลขที่รายการ : {{order["orderId"]}} </ion-label><br>
              <ion-label> วันที่ทำรายการ : {{order["date"]}}</ion-label><br>
              <ion-label> ร้านค้า : {{order["shop"]}}</ion-label><br>
              <ion-label> จำนวนเงิน : {{order["amount"]}} บาท</ion-label><br>
              <ion-label><ion-button size="small" fill="outline" color="light" (click)="historyDetail(order['orderId'],order['status'])">รายละเอียด<ion-icon name="open"></ion-icon></ion-button></ion-label>
            </ion-card-header>
        </div>
      </ion-card>
    </div>

</ion-content>
